---
---
    
@import "bootstrap";

img { 
     display: block;
     margin-bottom: 15px; 
     margin-top: 15px; 
     margin-left: 20px;		
     border-radius:2%;
     vertical-align:middle;
}


body {
	padding-top: 70px;
}

figcaption {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}



/* Top navigation bar */


p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
}


pubtit {
	font-weight: bold;
	font-size: 20px;
	margin:1px;
}

firstp {
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px; /* or 950px */
}

.container-text {
{
  &__image {
    float: left;
  }
  &__text {
    display: inline;
  }
  margin-top: 20px;
  margin-right: auto;
  margin-left: 30px;
  max-width: 1500px; /* or 950px */
vertical-align:middle;
}

/* Home, News */
#newsid p {
	text-align: left;
}

#h2 {
	text-align: left;
}

#newsid img {
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Team & Publications */
#gridid img { margin: 16px 22px 6px 0; border-radius:10%; box-shadow: 2px 2px 5px #888888 }
#homeid img { margin: 0 0 0 0; border-radius:5%; box-shadow: 0px 0px 0px #888888 }
#picid img { margin: 6px 3px 60px 6px; border-radius:1%; box-shadow: 2px 2px 5px #888888 }
#gridid .row { margin-bottom: 24px; }


/* Grid overrides */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
}

/* Grid overrides */
.col-sm-4 {
	padding-left: 26px;
	padding-right: 26px;
}


/* Carusel */

.carousel {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}


/* Create two equal columns that floats next to each other */
.logofoot{
  padding-left: 30px;
  width: 50%;
  height: 220;
  margin-left: 10px;
}
.logor{
  float: right;
  width: 50%;
  height: 50px;
}
.logol{
  float: left;
  height: 400;
}
.picr{
    float: right;
    width: 50%;
    padding-top: 68px;
    height: 540px; 
    text-align: left;
}
.picl{
    float: left;
    width: 50%;
    padding: 1px;
    height: 50px; 
    text-align: left;
}

.pic{
    width: 50%;
    padding-top: 68px;
    height: 540px; 
    text-align: left;
}

/* alignment
.middle > * {
  vertical-align: middle;
}

